
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "EB Garamond", serif;
  font-style: normal;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.158);
  padding:1rem 4rem ;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  z-index: 1000;
}
nav img{
  height: 80px;
  padding-left: 20px;
}
ul{
  display: flex;
  justify-content: space-around;
  gap: 20px;
  align-items: center;
  
}
a{
  text-decoration: none;
  font-size: 18px;
  text-transform: capitalize;
  color: #000;
}
.partner{
  background:black;
  color: white;
  padding: 1.5rem 3rem;
  border-radius: 50px;
}
.ri-arrow-right-line{
  font-size: 18px;
}
.creat{
  padding: 2rem 6rem;
}
.body-content{
  margin-top: 8rem;
  h1{
    font-size: 5rem;
    font-weight: 500;
    letter-spacing: -0.03em;
    line-height: 1;
  }
  span{
    font-style: italic;
    font-weight: 400;
  }
}
.btn{
  font-size: 18px;
  padding: 1rem 2rem;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  background: rgba(218, 165, 32, 0.897);
  margin-bottom: 5rem;
}
.solution{
  font-size: 36px;
  padding: 30px 0;
}
.all-card{
  display: flex;
  justify-content: center;
}
.cards{
 display: flex;
 width: 85%;
 justify-content: center;
 gap: 2rem;
}
.card{
  background-color: white;
  padding: 2rem 3rem;
  border-radius: 0 20px;
  box-shadow:2px 5px 15px 5px rgba(0, 0, 0, 0.4);
  h2{
    padding-bottom: 3rem;
    font-size: 36px;
    color: rgba(218, 165, 32, 0.897);
    font-weight: 400;
  }
  h5{
    font-size: 18px;
    font-weight: 400;
    text-wrap: wrap;
  }
}
.learn{
  margin-bottom: 10rem;
  margin-right: 4rem;
}
.learn-more a{
  float: right;
  color: rgba(218, 165, 32, 0.897);
  margin: 4rem 0;
}

.imgbg{
  background-image: url('./assets/uni.png');
  backdrop-filter: blur(10px);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  border-radius: 0 15rem 0px 0;
  padding: 5rem;
}
.imgbg h1{
  font-size: 5rem;
  color: white;
}
.connect{
  text-align: center;
  position:static;
  padding-top: 50px;
}
.connect h1{
  font-size: 4rem;
  font-weight: 500;
  padding: 4rem;
}
.connect button{
  padding: 20px 40px;
  border: none;
  background: rgba(218, 165, 32, 0.897);
  border-radius: 50px;
  font-size: 24px;
  color: white;
}
footer{
  width: 100%;
  background: #000;
  border-radius: 0 20rem 0 0 ;
  padding: 5rem 8rem;
  color: white;
  text-align: left;
}
footer img{
  height: 80px;
  padding: 0;
}
footer a{
  color: gray;

}

table th{
  text-align: left;
  padding-right:50px ;
  padding-bottom: 2rem;
  align-content: flex-start;  
}
.footer-nav{
  margin-top: 3rem;
}
.social-media i{
  padding-right: 10px;
  color: gray;
  font-size: 24px;
}
.get{
  text-align: center;
  
  h1{
    font-style: italic;
    font-size: 36px;
    font-weight: 400;
  }
  input{
    padding: 15px;
    font-size: 18px;
    color: white;
    width: 30rem;
    text-align: left;
    border-radius: 30px;
    border: none;
    background: rgba(128, 128, 128, 0.521);
  }
  button{
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 18px;
    border: none;
    background: rgba(218, 165, 32, 0.897);
  }
  .mail{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

  }
}



/* about page */
.header{
  background-image: url("././assets/vcimg5.png");
  backdrop-filter: blur(50px);
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 15rem 0;
  h1{
    font-size: 6rem;
    color: white;
  }
  span{
    font-style: italic;
  }
}
.our-story{
  padding: 3rem 6.8rem;
}
.story{
  display: flex;
  justify-content: center;
  align-items: center;
  h1{
    font-size: 60px;
    font-style: italic;
    font-weight: 500;
    padding-right: 10px;
  }
  hr{
    width: 55rem;
    border-top: 2px solid black;
  }
}
.story-content{
  h4{
    font-size: 24px;
    font-weight: 400;
  }
}
.division{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.division-h1{
  font-size: 5rem;
  font-weight: 500;
  padding: 2rem;
  font-style: italic;
  color: rgba(218, 165, 32, 0.897);
}

.square{
  width: 50%;
  border: 2px  solid black;
  border-bottom: 1px;
  height: 70px;
}
.our-division{
  display: flex;
  justify-content: space-between;
  gap: 8rem;
}
.mission{
  text-align: center;
  width: 50%;
  h1{
    padding: 20px 0;
    font-size: 48px;
  }
  h4{
    font-size: 18px;
    font-weight: 500;
    text-wrap: wrap;
  }
}
.vission{
  text-align: center;
  width: 50%;
  h1{
    padding: 20px 0;
    font-size: 48px;
  }
  h4{
    font-size: 18px;
    font-weight: 500;
    text-wrap: wrap;
  }
}
.line{
  margin: 6rem 0 2rem 0;
  border: 1px solid gray;
  width: 80%;
}
.linee{
  margin: 0rem 0 2rem 0;
  border: 1px solid gray;
  width: 80%;
}
.with-us{
  display: flex;
  text-align: center;
  gap: 3rem;
}
.investor{
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  h1{
    font-size: 80px;
    font-style: italic;
    font-weight: 500;
    padding-right: 10px;
    color: rgba(218, 165, 32, 0.897);
  }
  hr{
    width: 70%;
    border-top: 2px solid black;
  }
}


.marquee img{
  filter: grayscale(100%);
  height: 40px;
  
}
.marquee img:hover{
  filter: grayscale(0);
}
.marquee{
 display: flex;   
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
 padding:40px 0px;
 gap: 1.5rem;
}
/* career page */
.not-found{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  h1{
    font-size: 5rem;
    font-weight: 200;
  }
}
.partner-content{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}
@media (max-width:567px) {
  nav ul{
    display: none;

  }
  .creat{
    padding: 3rem 1.5rem;
  }
  .body-content{
    margin-top: 5rem;
    h1{
      font-size: 35px;
    }
  }
  
  .solution{
    font-size: 24px;
    padding-bottom: 30px ;
  }
  .cards{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   gap: 2rem;
  }
  .card{
    box-shadow:2px 5px 15px 5px rgba(0, 0, 0, 0.082);
  
  }
  .learn{
    margin-bottom: 5rem;
  }
  .learn-more a{
    margin: 2rem 0;
  }

  .imgbg{
    height: 200px;
    border-radius: 0 10rem 0px 0;
    padding: 3rem;
    margin-top: 7rem;
  }
  .imgbg h1{
    font-size: 2rem;
    font-weight: 600;
  }
  .connect{
    padding: 20px;
    margin-bottom: 40px;
  }
  .connect h1{
    font-size: 3rem;
    padding: 1rem 0;
  }
  .header{
    background-image: url("././assets/vcimg5.png");
    backdrop-filter: blur(50px);
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 5rem 0 0 3rem;
    border-radius: 0 0 7rem 0;
    h1{
      font-size: 2rem;
      color: white;
    }
    span{
      font-style: italic;
    }
  }
  .our-story{
    padding: 3rem 2rem;
  }
  .story{
    h1{
      font-size: 40px;
      padding-bottom: 10px;
    }
    hr{
      width: 55rem;
      border-top: 2px solid black;
    }
  }
  
  .division{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
  }
  .division-h1{
    font-size: 2rem;
    padding: 2rem;
  }
  .square{
    display: none;
  }
  .our-division{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .mission{
    text-align: center;
    width: 100%;
    h1{
      padding: 20px 0;
      font-size: 40px;
    }
    h4{
      font-size: 18px;
      font-weight: 500;
      text-wrap: wrap;
    }
  }
  .vission{
    text-align: center;
    width: 100%;
    h1{
      padding: 20px 0;
      font-size: 40px;
    }
    h4{
      font-size: 18px;
      font-weight: 500;
      text-wrap: wrap;
    }
  }
  .line{
    margin: 3rem 0 2rem 0;
    border: 1px solid gray;
    width: 80%;
  }
  .linee{
    margin: 0rem 0 2rem 0;
    border: 1px solid gray;
    width: 80%;
  }
  .with-us{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap:0rem;
  }
  .investor{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    h1{
      font-size: 35px;
      font-style: italic;
      font-weight: 500;
      padding-right: 10px;
      color: rgba(218, 165, 32, 0.897);
    }
    hr{
      width: 70%;
      border-top: 2px solid black;
    }
  }
  footer{
    width: 100%;
    background: #000;
    border-radius: 0 10rem 0 0 ;
    padding: 5rem 4rem;
  }
  table th{
    display: flex;
  }
}
@media screen and (min-width:567.1px) and (max-width: 991px) {
  
  nav ul{
    display: none;

  }
  .creat{
    padding: 5rem 3rem 2rem 3rem;
  }
  .body-content{
    margin-top: 3rem;
    h1{
      font-size: 55px;
      line-height: 1;
    }
  }
  .solution{
    font-size: 24px;
    padding-bottom: 30px ;
  }
  .cards{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   gap: 2rem;
  }
  .card{
    box-shadow:2px 5px 15px 5px rgba(0, 0, 0, 0.082);
  
  }
  .learn{
    margin-bottom: 5rem;
  }
  .learn-more a{
    margin: 2rem 0;
  }
  .brand{
    margin-top: 5rem;
  }
  .brand h2{
    font-size: 3rem;
  }
  .brand h4{
    font-size: 20px;
  }

  .imgbg{
    background-image: url('./assets/uni.png');
    backdrop-filter: blur(10px);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    border-radius: 0 10rem 0px 0;
    padding: 5rem;
  }
  .imgbg h1{
    font-size: 1.5rem;
    font-weight: 600;
  }
  .connect{
    padding-top: 50px;
    margin-bottom: 40px;
  }
  .connect h1{
    font-size: 3rem;
    padding: 1rem 0;
  }
 
  footer{
    border-radius: 0 10rem 0 0 ;
  }
  
  table th{
    display: flex;
  }
  
  .get{
    text-align: center;
    margin-top: 3rem;
      
  }
  .header{
    background-image: url("././assets/vcimg5.png");
    backdrop-filter: blur(50px);
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-top: 7rem;
    border-radius: 0 0 7rem 0;
    padding-left: 3rem;
    h1{
      font-size: 3rem;
      color: white;
    }
    span{
      font-style: italic;
    }
  }
  .our-story{
    padding: 3rem 2rem;
  }
  .story{
    h1{
      font-size: 45px;
      padding-bottom: 20px;
    }
  
  }
}


@media screen and (min-width:991.1px)and (max-width: 1199px) {
  .creat{
    padding: 5rem ;
  }
  .body-content{
    margin-top: 4rem;
    h1{
      font-size: 65px;
    }
  }
  .solution{
    font-size: 24px;
    padding-bottom: 30px ;
  }
  .cards{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   gap: 2rem;
   margin-bottom: 3rem;
  }
  .card{
    box-shadow:2px 5px 15px 5px rgba(0, 0, 0, 0.082);
  
  }
  .learn{
    margin-bottom: 6rem;
  }
  .learn-more a{
    margin: 2rem 0;
  }
  .brand{
    margin-top: 5rem;
  }
  .brand h2{
    font-size: 3rem;
  }
  .brand h4{
    font-size: 20px;
  }
  .imgbg{
    background-image: url('./assets/uni.png');
    backdrop-filter: blur(10px);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    border-radius: 0 10rem 0px 0;
    padding: 5rem;
  }
  .imgbg h1{
    font-size: 3rem;
    font-weight: 600;
  }
  .connect{
    padding-top: 50px;
    margin-bottom: 40px;
  }
  .connect h1{
    font-size: 3rem;
    padding: 1rem 0;
  }
 
  footer{
    border-radius: 0 10rem 0 0 ;
  }
  
  
  
  .get{
    text-align: center;
    margin-top: 3rem;
      
  }
   
  .header{
    height: 400px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 7rem 0 0 3rem;
    border-radius: 0 0 7rem 0;
    h1{
      font-size: 5rem;
      color: white;
      font-weight: 400;
      line-height: 90px;
    }
    span{
      font-style: italic;
    }
  }
}